{% extends "layout.html" %}
{% block main %}
<section id="hero" class="hero-tall hero-fade" style="margin-bottom: 2em;">

    <div class="hero-wrap-outer">
              <div class="container">
          <div class="hero-wrap-inner">

  <h1 id="page-title">About Equilibrium</h1>
  <p id="tagline">Work made easy.<br> Managing projects deadlines within a workplace/ﬁrm/company more socially.</p>
  <p id="en-title">So easy, it takes literally 4-Clicks to get started.</p>
          </div>
        </div>
          </div>
  </section>


<div class="container" style="margin-bottom: 2em;">
<div class="about" style="padding:30px;">
<h1 class="boldh1" style="color:black;">Currently in its Beta stages, Equilibrium aims to make the office work and deadline's social and easy to manage.</h1>
<hr/>
Developed by <a href="http://about.me/YashRajSingh">Yash Raj Singh</a> from Jaypee University of Engineering and Technology(<a href="http://jiet.ac.in/">JUET</a>),
Guna(M.P.), India.
<br/>
<br/>
Developed on Google's backend of app engine. It can handle heavy traffic's and stay online for years after extinction,
and its free!

<hr>
<h2 class="boldh1" style="color:#000;">How does it work?</h2>
    <div class="row">
			<div class="list">
				<ul class="listul">

					<li><img src="/img/about/gapp.png" class="listimg"> Google App Engine </li>
					<li><img src="/img/about/gdatastore.png" class="listimg"> Google Data Store </li>
					<li><img src="/img/about/flask.png" class="listimg"> Flask, Jinja2 </li>
					<li><img src="/img/about/gmaps.png" class="listimg"> Google Maps API </li>
					<li><img src="/img/about/gplus.png" class="listimg"> Google+ Signin </li>
					<li><img src="/img/about/gcs.png" class="listimg"> Google Custom Search API </li>
					<li><img src="/img/about/wiki.png" class="listimg">Wikipedia API </li>
					<li><img src="/img/about/gtt.jpg" class="listimg"> Google Translate toolkit </li>
				</ul>
                <p>and some other API's and frameworks...</p>
			</div>
		</div>

</div>
</div>

{% endblock %}